$light-blue-border:rgb(29, 233, 165);
$grey-border:rgb(163, 163, 163);
$universal-blue:rgb(54, 146, 155);
$button-blue-hover:rgb(130, 186, 219);
$delete-navy-blue-hover:rgb(0, 47, 255);
$shopping-item-background:rgba(83, 200, 211, 0.25);
@font-face{
    font-family: 'Montserrat';
    src:url('../font/Montserrat-Regular.ttf')
}
@mixin focus{
    &:focus{
        box-shadow: 0 0 2.7pt 2.5pt $shopping-item-background;
  
    }
}
@mixin button-blue{
    background-color:$universal-blue;
    color:white;
    border:none;
    outline: none;
    cursor: pointer;
    border-radius: 0.2rem;
    transition: transform 0.3s linear;
    &:hover{
        transform: scale(1.04);
        background-color:$button-blue-hover;
    }
    @include focus;
}



body, select, input{
    font-family: 'Montserrat';
}
.center-page{
    margin-top:3rem;
    display:flex;
    justify-content:center;
    .form{
        width:200px;
        border-radius: 10px;
        padding:2rem 1.8rem;
        -webkit-box-shadow: 1px 10px 19px -1px rgba(0,0,0,0.30); 
        box-shadow: 1px 10px 19px -1px rgba(0,0,0,0.30);
        .block-order{
            flex-direction:column;
            justify-content:start;
            margin: 1.4rem 0;
        }
        .flex-order,.block-order{
            text-align: left;
            display:flex;
            margin: 1.4rem 0;
        }
        .flex-order{
            justify-content:space-around
        }
        input,
        .select-styling{
            border:none;
            outline: none;
            cursor: pointer;
        }
        .select-styling{
            @include focus;
        }
        .block-order input{
            text-transform: capitalize;
            border-bottom:1px solid $grey-border;
            transition: all 0.5s linear;
            &:focus{
                border-bottom:1px solid $light-blue-border;
            }
        }
        .select-styling{
            width:100%;
        }
        .button{
            padding:0.6rem 0;
            font-size:0.95rem;
            margin-top:1rem;
            width:100%;
            @include button-blue;
            
        }
    }
}
.article-category{
    display:flex;
    justify-content:space-around;
}
.flex-column{
    margin: 0 auto;
    width:800px;
    .list-length{
        display:flex;
        button{
            align-self: center;
            padding:0rem 0.3rem;
            font-size:1.5rem;
            width:2.5rem;
            height:2.5rem;
            @include button-blue; 
         

        }
        p{
            margin-right:1rem;
        }
    }
    .flex-start-order,
    .center-shopping-list
    {
        display:flex;
    }
    .flex-start-order{
        justify-content:center;
        .space-category-article{
            cursor: pointer;
            padding:1.8rem;
            margin-bottom:2rem;
            border-radius:5px;
            transition: all 0.4s ease-out;
            &:hover{
                color:$universal-blue;
                
            }   
        }
    }
    .center-shopping-list{
        
        flex-wrap: wrap;
        justify-content: start;
        align-items:center;
        .shopping-list-element{
            display: flex;
            text-transform: capitalize;
            position: relative;
            margin: 0 0.2rem 0.2rem 0;
            width:49%;
            background-color: $shopping-item-background;
            box-shadow: 1px 10px 19px -6px rgba(119, 118, 118, 0.4);
            label{
                font-size:0.8rem;
                margin:1rem;
                p{
                    margin-top:0.5rem;
                    font-size: 1rem;
                }
            }
            .delete-styling{
                cursor: pointer;
                top:0;
                margin:0;
                font-size:1.4rem;
                right:0.5rem;
                position:absolute;
                transition:transform 0.15s ease-in-out;
                
                &:hover{
                    color:$delete-navy-blue-hover;
                    transform: scale(1.2);
                }
            }
        }
    }
    
  
}

